<?xml version='1.0' encoding='utf-8'?>
<plugin id="mopinionsdk-cordova-plugin" version="0.1.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>MopinionSDK</name>
    <js-module name="MopinionSDK" src="www/MopinionSDK.js">
        <clobbers target="MopinionSDK" />
    </js-module>
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="MopinionSDK">
                <param name="ios-package" value="MopinionCordova" />
            </feature>
        </config-file>
        <source-file src="src/ios/MopinionCordova.swift" />
        <dependency id="cordova-plugin-add-swift-support" version="2.0.2">
        <preference name="UseSwiftLanguageVersion" value="5" />
        </dependency>
        <dependency id="cordova-plugin-cocoapod-support"/>
        <pods-config ios-min-version="9.0" use-frameworks="true"/>
        <pod name="MopinionSDKWeb" spec=">= 0.4.6"/>
    </platform>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="MopinionSDK">
				<param name="android-package" value="com.mopinion.plugin.MopinionCordova" />
            </feature>
            <preference name="AndroidXEnabled" value="true" />
        </config-file>
        <source-file src="src/android/MopinionCordova.java" target-dir="src/com/mopinion/plugin"/>
        <framework src="src/android/mopinionsdk.gradle" custom="true" type="gradleReference" />
        <config-file target="AndroidManifest.xml" parent="/*">
	    	<uses-permission android:name="android.permission.INTERNET" />
    	</config-file>
    </platform>
</plugin>
